{% block content %}
  {% load static %}

  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <a href="#">Database Connections</a>
        </li>
        <li>
          <a hx-get="{% url 'create_connection' project.id %}" hx-target="#dialog">
            <i class="fa-solid fa-plus fa-lg has-text-success"></i>
          </a>
        </li>
      </ul>
    </nav>
    <div hx-trigger="load, listChanged from:body"
         hx-get="{% url 'list_connection' project.id 1 %}"
         hx-target="this"
         id="connection_items">
      <tr class="text-center">
        <td class="spinner-border" role="status">
          <span class="visually-hidden text-center">Loading...</span>
        </td>
      </tr>
    </div>
  </div>
  <!-- Placeholder for the modal -->
{% endblock content %}
