{% load static %}

{% block content %}
  <table class="table table-container is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th></th>
        <th class="has-text-left">Project Name</th>
        <th class="has-text-centered">Open Defects</th>
        <th class="has-text-centered">Test Runs</th>
        <th class="has-text-centered">Test Cases</th>
        <th class="has-text-centered">Milestone</th>
        <th class="has-text-centered">Owner</th>
        <th class="has-text-centered">Members</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
        <tr>
          <td>
            {% if request.user.id == project.owner.id %}
              <a title="Edit" href="{% url 'project_details' project.id %}">
                <i class="fa fa-pen-to-square fa-fw" aria-hidden="true"></i>
              </a>
              <a class="has-text-danger"
                 hx-post="{% url 'delete_project' project.id %}"
                 hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
                <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
              </a>
            {% endif %}
          </td>
          <td class="has-text-left">
            <a href="{% url 'project_details' project.id %}">{{ project.name }}</a>
          </td>
          <td class="has-text-centered">0</td>
          <td class="has-text-centered">
            <a href="{% url 'testruns' project.id %}">
              {% with testrun_total=project.project_testruns.count %}{{ testrun_total|default:0 }}{% endwith %}
            </a>
          </td>
          <td class="has-text-centered">
            <a href="{% url 'list_testcase' project.id %}">
              {% with tc_total=project.project_testcases.count %}{{ tc_total|default:0 }}{% endwith %}
            </a>
          </td>
          <td class="has-text-centered"></td>
          <td class="has-text-centered">
            <a class="project-name"
               href="{% url 'users:user_detail' project.owner.id %}">
              {% if project.owner.avatar %}
                <img alt="{{ project.owner.email }}"
                     title="{{ project.owner.email }}"
                     class="img-avatar rounded-circle"
                     src="{{ project.owner.avatar.url }}" />
              {% else %}
                <img alt="{{ project.owner.email }}"
                     title="{{ project.owner.email }}"
                     class="img-avatar rounded-circle"
                     src="{% static 'images/default_avatar.jpg' %}" />
              {% endif %}
            </a>
          </td>
          <td class="has-text-centered">
            {% for member in project.members.all %}
              {% if member.id != project.owner.id %}
                <a class="project-name" href="{% url 'users:user_detail' member.id %}">
                  {% if member.avatar %}
                    <img alt="{{ member.email }}"
                         title="{{ member.email }}"
                         class="img-avatar rounded"
                         src="{{ member.avatar.url }}" />
                  {% else %}
                    <img alt="{{ member.email }}"
                         title="{{ member.email }}"
                         class="img-avatar rounded"
                         src="{% static 'images/default_avatar.jpg' %}" />
                  {% endif %}
                </a>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- Pagination -->
  {% if projects.has_other_pages %}
    <nav class="pagination is-small is-right">
      <ul class="pagination-list">
        {% if projects.has_previous %}
          <li>
            <a class="pagination-link"
               hx-get="{% url 'list_project' projects.previous_page_number %}"
               hx-target="#project_items"
               hx-swap="outerhtml"><i class="fa-solid fa-angles-left"></i></a>
          </li>
        {% endif %}
        {% for i in page_range|default_if_none:projects.paginator.get_elided_page_range %}
          {% if projects.number == i %}
            <li>
              <a href="#" class="pagination-link" aria-label="Goto page {{ i }}">{{ i }}</a>
            </li>
          {% else %}
            {% if i == projects.paginator.ELLIPSIS %}
              <a href="#" class="pagination-link" aria-label="Goto page {{ i }}">{{ i }}</a>
            {% else %}
              <li class="pagination-link">
                {% with pg_no=i %}
                  <a class="page-link"
                     hx-get="{% url 'list_project' pg_no %}"
                     hx-target="#project_items"
                     hx-swap="outerhtml">{{ i }}</a>
                {% endwith %}
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if projects.has_next %}
          <li>
            <a class="pagination-link"
               hx-get="{% url 'list_project' projects.next_page_number %}"
               hx-target="#project_items"
               hx-swap="outerhtml"><i class="fa-solid fa-angles-right"></i></a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
  <!-- end Pagination -->
{% endblock content %}
