{% block content %}
  <div class="container-fluid">
    <form hx-post="{{ request.path }}"
          hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
          class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Module</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-10">
                <div class="form-group ">
                  <label class="required bold col-form-label-sm">Module name</label>
                  <input type="text"
                         name="name"
                         id="id_name"
                         class="form-control form-control-sm"
                         placeholder="e.g.SSO"
                         required=""
                         autofocus=""
                         value="{{ object.name }}" />
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <button class="btn btn-primary btn-sm" type="submit">Save</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
