{% block content %}
  <div class="container">
    <form hx-post="{{ request.path }}"
          hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
          class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Delete Module Confirmation?</h6>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <p class="small">Are you sure you want to delete '{{ module.name }}' module?</p>
          <div class="col-sm1">
            <button type="button"
                    class="btn btn-secondary btn-sm"
                    data-bs-dismiss="modal">Close</button>
            <button class="btn btn-danger btn-sm" type="submit">Delete</button>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
