{% load static %}

{% block content %}
{% for module in object_list %}
<tr class="project-row" id="project-row">
    <td>
      <a class="px-1 link-undecorate"
        data-bs-title="Edit Module"
        data-bs-toggle="tooltip"
        data-bs-placement="left"
        hx-get="{% url 'edit_module' module.project.id module.id %}"
        hx-target="#dialog">
        <i class="fa fa-pen-to-square fa-fw fa-xs" aria-hidden="true"></i>
      </a>
      <span class="fw-bold fs-75">{{ module.name }}</span>
    </td>
    <td>{{ module.project.name }}</td>
    <td class="hidden-xs">0</td>
    <td class="hidden-xs">0</td>
  </tr>
{% endfor %}
{% endblock content %}

