{% extends 'app_base.html' %}

{% block title %}
  Projects
{% endblock title %}
{% block content %}
  {% load static %}

  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Projects</li>
        <li class="breadcrumb-item ">
          <a class="text-success p-xl-1"
             title="Add New Project"
             data-toggle="tooltip"
             data-bs-placement="right"
             hx-get="{% url 'create_project' %}"
             hx-target="#dialog">
            <i class="fa fa-solid fa-plus fa-xl" aria-hidden="true"></i>
          </a>
        </li>
      </ol>
    </nav>
    <div hx-trigger="load, listChanged from:body"
         hx-get="{% url 'list_project' 1 %}"
         hx-target="this"
         id="project_items">
      <tr class="text-center">
        <td class="spinner-border" role="status">
          <span class="visually-hidden text-center">Loading...</span>
        </td>
      </tr>
    </div>
  </div>
  <!-- Placeholder for the modal -->
  <div id="modal" class="modal modal-lg fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
  </div>
  <script src="{% static 'js/toast.js' %}"></script>
  <script src="{% static 'js/dialog.js' %}"></script>
{% endblock content %}
