{% extends 'app_base.html' %}

{% block title %}
  {{ project.name }}
{% endblock title %}
{% block content %}
  {% load static %}

  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'projects' %}">Projects</a>
        </li>
        <li class="breadcrumb-item active">Modules</li>
        <li class="breadcrumb-item ">
          <a class="text-success p-xl-1"
             title="Add New Module"
             data-toggle="tooltip"
             data-bs-placement="right"
             hx-get="{% url 'create_module' project.id %}"
             hx-target="#dialog">
            <i class="fa fa-solid fa-plus fa-xl" aria-hidden="true"></i>
          </a>
        </li>
      </ol>
    </nav>
    <table class="table table-striped table-bordered table-sm small"
           aria-label="Module List">
      {{ connection_count|json_script:"hello-data" }}
      <thead class="thead-dark small">
        <tr>
          {% comment %} <th scope="col">ID</th> {% endcomment %}
          <th class="sortable">Module name</th>
          <th class="sortable hidden-xs">Project Name</th>
          <th class="sortable hidden-xs">Created By</th>
          <th class="sortable hidden-xs">Modified By</th>
          <th class="sortable hidden-xs"># of Defects</th>
          <th class="sortable hidden-xs"># of Test Cases</th>
        </tr>
      </thead>
      <tbody hx-trigger="load, listChanged from:body"
             hx-get="{% url 'list_modules' project.id %}"
             hx-target="this"
             class="small">
        <tr class="text-center">
          <td class="spinner-border" role="status">
            <span class="visually-hidden text-center">Loading...</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Placeholder for the modal -->
  <div id="modal" class="modal modal-lg fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
  </div>
  <script src="{% static 'js/toast.js' %}"></script>
  <script src="{% static 'js/dialog.js' %}"></script>
{% endblock content %}
