{% extends 'app_base.html' %}

{% block title %}
  {{ project.name }} - TestCases
{% endblock title %}
{% block content %}
  {% load static %}

  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'projects' %}">Projects</a>
        </li>
        <li class="breadcrumb-item active">Test Cases</li>
        <li class="breadcrumb-item ">
          <a class="text-success p-xl-1"
             title="Add New Module"
             data-toggle="tooltip"
             data-bs-placement="right"
             href="{% url 'create_testcase' project.id %}">
            <i class="fa fa-solid fa-plus fa-xl" aria-hidden="true"></i>
          </a>
        </li>
      </ol>
    </nav>
    <table class="table table-striped table-bordered table-sm small"
           aria-label="Connection List">
      <thead class="thead-dark small">
        <tr>
          {% comment %} <th scope="col">ID</th> {% endcomment %}
          <th scope="col" class="text-center">Test Case Title</th>
          <th scope="col" class="text-center">Key Columns</th>
          <th scope="col" class="text-center">Source Database</th>
          <th scope="col" class="text-center">Source SQL</th>
          <th scope="col" class="text-center">Target Database</th>
          <th scope="col" class="text-center">Target SQL</th>
        </tr>
      </thead>
      <tbody class="small">
        {% for tc in testcase_list %}
          <tr>
            <td class="col-2">
              <a class="px-1 link-undecorate"
                 href="{% url 'edit_testcase' project.id tc.id %}">
                <i class="fa fa-pen-to-square fa-fw fa-xs" aria-hidden="true"></i>
              </a>
              <a class="px-1 confirm-delete link-undecorate" href="#">
                <i class="fa fa-trash fa-fw fa-xs text-danger" aria-hidden="true"></i>
              </a>
              {{ tc.tcname }}
            </td>
            <td class="col-auto">{{ tc.keycolumns|truncatechars:20 }}</td>
            <td class="col-auto">{{ tc.sourcedb }}</td>
            <td class="col-auto">{{ tc.sourcesql|truncatechars:40 }}</td>
            <td class="col-auto">{{ tc.targetdb }}</td>
            <td class="col-auto">{{ tc.targetsql|truncatechars:40 }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Pagination -->
  <p>p:{{ page_obj }}</p>
  <p>page_object.next {{ page_obj.has_next }}</p>
  {% if page_obj.has_other_pages %}
    <nav aria-label="Page navigation Projects">
      <ul class="pagination pagination-sm justify-content-end">
        {% if page_obj.has_previous %}
          <li>
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-angles-left"></i></a>
          </li>
        {% endif %}
        {% for i in page_range|default_if_none:page_obj.paginator.get_elided_page_range %}
          {% if page_obj.number == i %}
            <li class="active page-item">
              <span class="page-link">{{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            {% if i == page_obj.paginator.ELLIPSIS %}
              <li class="page-item">
                <span class="page-link">{{ i }}</span>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li>
            <a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-angles-right"></i></a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
  <!-- end Pagination -->
{% endblock content %}
