{% extends 'app_base.html' %}

{% block title %}
  {{ project.name }}/TestRun/TestCases/History
{% endblock title %}
{% block content %}
  {% load static %}
  {% load testplan_extras %}

  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'projects' %}">{{ project.name }}</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="{% url 'detail_testrun' testrun.project.id testrun.id %}">{{ testrun.name }}</a>
        </li>
        <li class="breadcrumb-item ">{{ testcase.tcname }} history</li>
      </ol>
    </nav>
    <div>
      <table class="table table-bordered table-sm small"
             aria-label="Execution History">
        <thead class="thead-dark small text-center">
          <tr>
            <th class="w-10" scope="col">Triggered By</th>
            <th class="w-5" scope="col">Status</th>
            <th class="w-10" scope="col">Execution Start</th>
            <th class="w-10" scope="col">Execution End</th>
            <th class="w-5" scope="col">Result</th>
            <th class="w-40" scope="col">Log</th>
          </tr>
        </thead>
        <tbody>
          {% for item in testcase_run_history %}
            <tr class="{% tc_status_row_class item.testcase_run_status.status_value %} small">
              <td class="align-middle text-center">{{ item.triggered_by.email }}</td>
              <td class="align-middle text-center">{{ item.testcase_run_status.status_value }}</td>
              <td class="align-middle text-center">{{ item.execution_start|date:"d-M-y H:m:s T" }}</td>
              <td class="align-middle text-center">{{ item.execution_end|date:"d-M-y H:m:s T" }}</td>
              <td class="align-middle text-center">
                {% if item.testcase_run_status.status_value == "Failed" %}
                  <a href="{% url 'execution_history' project.id item.testrun_testcase.testrun.id item.testrun_testcase.id item.id %}">
                    View
                  </a>
                {% endif %}
              </td>
              <td class="small">{{ item.comments }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
