{% extends "app_base.html" %}

{% block title %}
  {{ project.name }} - TestCases
{% endblock title %}
{% block content %}
  <div class="container-fluid">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{% url 'projects' %}">{{ project.name }}</a></li>
        <li><a href="{% url 'list_testcase' project.id %}">Test Cases</a></li>
        <li>
          <a href="{% url 'create_testcase' project.id %}">
            <i class="fa-solid fa-plus fa-lg has-text-success"></i>
          </a>
        </li>
      </ul>
    </nav>
    <div class="columns">
      <aside class="menu column is-3" aria-label="Test Case Folders">
        <button class="button is-success is-fullwidth mb-2" hx-get="{% url 'create_folder' project.id %}" hx-target="#dialog">
          Create New Folder
        </button>
        <ul class="menu-list">
          <li><a href="{% url 'list_testcase' project.id%}" class="item is-active">Root</a></li>
          <li>
            <ul>
              {% for folder in root_folders %}
              <li>
                <div class="field has-addons">
                  <p class="control">
                    {% if folder.name != 'root' %}
                    <button class="button is-size-6 item"
                            hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
                            hx-delete="{% url 'edit_folder' project.id folder.id %}"
                            hx-target="#dialog">
                      <span class="icon is-small">
                        <i class="fas fa-trash has-text-danger"></i>
                      </span>
                    </button>
                    {% endif %}
                  </p>
                  <p class="control">
                    {% if folder.name != 'root' %}
                    <button class="button is-size-6 item"
                            hx-get="{% url 'edit_folder' project.id folder.id %}"
                            hx-target="#dialog">
                      <span class="icon is-small">
                          <i class="fas fa-edit has-text-success"></i>
                      </span>
                    </button>
                    {% endif %}
                  </p>
                  <p class="control w-100">
                    <button class="button is-size-6 item"
                        hx-get="{% url 'folder_subfolders' project.id folder.id%}"
                        hx-target="#subfolder-list-{{ folder.id }}"
                        hx-swap="innerHTML"
                        onclick="setActive(event)">
                      <span class="fas fa-folder pr-2"></span>
                      {{ folder.name }}
                    </button>
                  </p>
                </div>
                <div id="subfolder-list-{{ folder.id }}"></div>
              </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </aside>

      <div class="column is-fullheight">
        <div id="test-case-container">
          <div class="row pb-5 is-fullwidth">
            <div class="columns">
              <div class="column is-10">
                <input
                    class="input"
                    type="text"
                    placeholder="Search by Test Case title or by SQL statement" />
              </div>
              <div class="column is-2">
                <button class="button is-info is-dark is-fullwidth"> Search </button>
              </div>
            </div>
          </div>
          <div class="row box has-background-info is-bordered p-2 mb-2">
            <div class="columns">
              <div class="column is-3 has-text-centered is-size-6 has-text-weight-bold">Test Case Details</div>
              <div class="column is-1 has-text-centered is-size-6 has-text-weight-bold">Database</div>
              <div class="column is-8 has-text-centered is-size-6 has-text-weight-bold">SQL Statements</div>
            </div>
          </div>
          <div id="test-case-list">
            {% for tc in all_test_cases %}
            <div class="box mb-3" id="testcase-{{ tc.id }}">
                <div class="row">
                    <div class="columns">
                        <div class="column is-3">
                            <a class="has-text-success" title="Edit" href="{% url 'edit_testcase' project.id tc.id %}">
                                <i class="fa fa-pen-to-square fa-fw fa-xs"></i>
                            </a>
                            <a class="has-text-danger" title="Delete"
                               hx-post="{% url 'delete_testcase' project.id tc.id %}"
                               hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
                               hx-target="#testcase-{{ tc.id }}"
                               hx-confirm="Are you sure about deleting the testcase: '{{ tc.tcname }}?'"
                               hx-swap="outerHTML">
                                <i class="fa fa-trash fa-fw fa-xs text-danger"></i>
                            </a>
                            {{ tc.tcname }}
                        </div>
                        <div class="column is-1">{{ tc.sourcedb }}</div>
                        <div class="column is-8 is-bordered has-overflow-scroll">
                            <p>{{ tc.sourcesql }}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="columns">
                        <div class="column is-3">
                            <strong>Key Columns: </strong>{{ tc.keycolumns }}
                        </div>
                        <div class="column is-1">{{ tc.targetdb }}</div>
                        <div class="column is-8 pt-5 is-bordered has-overflow-scroll">
                            <p>{{ tc.targetsql }}</p>
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modal" class="modal">
    <div id="dialog" hx-target="this" class="is-width-70"></div>
  </div>
{% endblock content %}

{% block inline_javascript %}
<script>
  function setActive(event) {
    const links = document.querySelectorAll('.item');
    links.forEach(link => link.classList.remove('is-active'));
    event.currentTarget.classList.add('is-active');
    const openFolder = document.querySelectorAll('.fa-folder-open');
    openFolder.forEach(folder => folder.classList.remove('fa-folder-open'))
    event.currentTarget.children[0].classList.add('fa-folder-open');
  };
</script>
{% endblock inline_javascript %}
