{% extends 'app_base.html' %}

{% block title %}
  {{ testrun.project.name }} / TestRun / TestCases
{% endblock title %}
{% block content %}
  {% load static %}

  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>
        <a href="{% url 'projects' %}">{{ testrun.project.name }}</a>
      </li>
      <li>
        <a href="{% url 'testruns' testrun.project.id %}">Test Runs</a>
      </li>
      <li>
        <p class="pl-2">{{ testrun.name }}</p>
      </li>
    </ul>
  </nav>
  <div hx-trigger="load, listChanged from:body"
       hx-get="{% url 'get_testrun_testcases' testrun.project.id testrun.id %}"
       hx-target="this"
       id="testcases">
    <tr class="text-center">
      <td class="spinner-border" role="button">
        <span class="visually-hidden text-center">Loading...</span>
      </td>
    </tr>
  </div>
  <div class="pt-5">
    <button hx-get="{% url 'get_project_testcases' testrun.project.id testrun.id %}"
            hx-target="#testcase_list"
            hx-swap="innerHTML"
            class="button is-info">Add Test Cases</button>
  </div>
  <div id="testcase_list"></div>
{% endblock content %}
