{% block content %}
  <div class="modal-background cancel"></div>
  <div class="modal-content is-width-70">
    <div class="box content">
      <h5 class="is-2">Add New Test Run</h5>
      <form hx-post="{{ request.path }}"
            hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
            class="modal-content">
        <div class="columns">
          <div class="column is-8">
            <div class="field">
              <label class="label" for="id_name">Name</label>
              <div class="control">
                <input value="{{ object.name }}"
                       type="text"
                       name="name"
                       id="id_name"
                       class="input"
                       required
                       placeholder="Connection Name" />
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button class="button is-primary is-small" name="save">Save</button>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
