{% for testrun in testrun_list %}
  <div class="columns is-vcentered box">
    <div class="column is-2">
      <div class="row is-size-4">
        <a href="{% url 'detail_testrun' testrun.project.id testrun.id %}">
          <span>{{ testrun.id }}-{{ testrun.name }}</span>
        </a>
      </div>
      <div class="is-size-7">
        {% with testrun_tc_count=testrun.testcases.all.count %}
          ({{ testrun_tc_count }} Test Case{{ testrun_tc_count|pluralize }})
        {% endwith %}
      </div>
    </div>
    <div class="column is-10 is-size-7">
      <div class="row">
        {% regroup testcases by testrun_id as tc_by_run %}
        {% for testrun_id in tc_by_run %}
          {% if testrun_id.grouper == testrun.id %}
            {% for tc_count_by_sts in testrun_id.list %}
              {{ tc_count_by_sts.status_count }} {{ tc_count_by_sts.testcase_status__status_value }} |
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="row">
        <div class="stacked-progress">
          {% for testrun_id in tc_by_run %}
            {% if testrun_id.grouper == testrun.id %}
              {% for tc_count_by_sts in testrun_id.list %}
                {% with testrun_tc_count=testrun.testcases.all.count %}
                  {% if tc_count_by_sts.testcase_status__status_value == 'Passed' %}
                    {% widthratio tc_count_by_sts.status_count testrun_tc_count 100 as wdt %}
                    <div class="progress-bar is-success"
                         role="progressbar"
                         style="width: {% widthratio tc_count_by_sts.status_count testrun_tc_count 100 %}%"
                         title="{{ tc_count_by_sts.status_count }} {{ tc_count_by_sts.testcase_status__status_value }} {{ wdt }}">
                    </div>
                  {% endif %}
                  {% if tc_count_by_sts.testcase_status__status_value == 'Not Run' %}
                    {% widthratio tc_count_by_sts.status_count testrun_tc_count 100 as wdt %}
                    <div class="progress-bar is-secondary"
                         role="progressbar"
                         style="width: {% widthratio tc_count_by_sts.status_count testrun_tc_count 100 %}%"
                         title="{{ tc_count_by_sts.status_count }} {{ tc_count_by_sts.testcase_status__status_value }} {{ wdt }}">
                    </div>
                  {% endif %}
                  {% if tc_count_by_sts.testcase_status__status_value == 'Blocked' %}
                    {% widthratio tc_count_by_sts.status_count testrun_tc_count 100 as wdt %}
                    <div class="progress-bar is-warning"
                         role="progressbar"
                         style="width: {% widthratio tc_count_by_sts.status_count testrun_tc_count 100 %}%"
                         title="{{ tc_count_by_sts.status_count }} {{ tc_count_by_sts.testcase_status__status_value }} {{ wdt }}">
                    </div>
                  {% endif %}
                  {% if tc_count_by_sts.testcase_status__status_value == 'Skipped' %}
                    {% widthratio tc_count_by_sts.status_count testrun_tc_count 100 as wdt %}
                    <div class="progress-bar is-info"
                         role="progressbar"
                         style="width: {% widthratio tc_count_by_sts.status_count testrun_tc_count 100 %}%"
                         title="{{ tc_count_by_sts.status_count }} {{ tc_count_by_sts.testcase_status__status_value }} {{ wdt }}">
                    </div>
                  {% endif %}
                  {% if tc_count_by_sts.testcase_status__status_value == 'Failed' %}
                    {% widthratio tc_count_by_sts.status_count testrun_tc_count 100 as wdt %}
                    <div class="progress-bar is-danger"
                         role="progressbar"
                         style="width: {% widthratio tc_count_by_sts.status_count testrun_tc_count 100 %}%"
                         title="{{ tc_count_by_sts.status_count }} {{ tc_count_by_sts.testcase_status__status_value }} {{ wdt }}">
                    </div>
                  {% endif %}
                  {% if tc_count_by_sts.testcase_status__status_value == 'Running' %}
                    {% widthratio tc_count_by_sts.status_count testrun_tc_count 100 as wdt %}
                    <div class="progress-bar is-success"
                         role="progressbar"
                         style="width: {% widthratio tc_count_by_sts.status_count testrun_tc_count 100 %}%"
                         title="{{ tc_count_by_sts.status_count }} {{ tc_count_by_sts.testcase_status__status_value }} {{ wdt }}">
                    </div>
                  {% endif %}
                {% endwith %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
