{% extends "app_base.html" %}

{% block title %}
  {{ project.name }}/ TestRun / TestCases / History
{% endblock title %}
{% block content %}
  {% load static %}
  {% load testplan_extras %}

  <div class="container">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li>
          <a href="{% url 'projects' %}">{{ testrun.project.name }}</a>
        </li>
        <li>
          <a href="{% url 'detail_testrun' testrun.project.id testrun.id %}">{{ testrun.name }}</a>
        </li>
        <li>
          <p class="pl-2">{{ testcase.tcname }} History</p>
        </li>
      </ul>
    </nav>
    <div>
      <table class="table" aria-label="Execution History">
        <thead class="text-center">
          <tr>
            <th class="w-10" scope="col">Triggered By</th>
            <th class="w-5" scope="col">Status</th>
            <th class="w-10" scope="col">Execution Start</th>
            <th class="w-10" scope="col">Execution End</th>
            <th class="w-5" scope="col">Result</th>
            <th class="w-40" scope="col">Log</th>
          </tr>
        </thead>
        <tbody>
          {% for item in testcase_run_history %}
            <tr class="{% tc_status_row_class item.testcase_run_status.status_value %}">
              <td class="smaller">{{ item.triggered_by.email }}</td>
              <td class="smaller">{{ item.testcase_run_status.status_value }}</td>
              <td class="smaller">{{ item.execution_start|date:"d-M-y H:m:s T" }}</td>
              <td class="smaller">{{ item.execution_end|date:"d-M-y H:m:s T" }}</td>
              <td>
                {% if item.testcase_run_status.status_value == "Failed" %}
                  <a class="smaller"
                     href="{% url 'execution_history' project.id item.testrun_testcase.testrun.id item.testrun_testcase.id item.id %}">
                    View
                  </a>
                {% endif %}
              </td>
              <td class="smaller">{{ item.comments }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
