{% extends 'app_base.html' %}

{% block title %}
  {{ testrun.project.name }}/TestRun/TestCases
{% endblock title %}
{% block content %}
  {% load static %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'projects' %}">{{ testrun.project.name }}</a>
      </li>
      <li class="breadcrumb-item active">
        <a href="{% url 'testruns' testrun.project.id %}">Test Runs</a>
      </li>
      <li class="breadcrumb-item active">{{ testrun.name }}</li>
      <li class="breadcrumb-item ">
        <a class="text-success p-xl-1"
           title="Add New Test Run"
           data-toggle="tooltip"
           data-bs-placement="right"
           hx-get="{% url 'create_testrun' testrun.project.id %}"
           hx-target="#dialog">
          <i class="fa fa-solid fa-plus fa-xl" aria-hidden="true"></i>
        </a>
      </li>
    </ol>
  </nav>
  <div hx-trigger="load, listChanged from:body"
       hx-get="{% url 'get_testrun_testcases' testrun.project.id testrun.id %}"
       hx-target="this"
       id="testcases">
    <tr class="text-center">
      <td class="spinner-border" role="button">
        <span class="visually-hidden text-center">Loading...</span>
      </td>
    </tr>
  </div>
  <div>
    <button hx-get="{% url 'get_project_testcases' testrun.project.id testrun.id %}"
            hx-target="#testcase_list"
            hx-swap="innerHTML"
            class="btn btn-sm btn-dark">Add Test Cases</button>
  </div>
  <div id="testcase_list"></div>
  <script src="{% static 'js/toast.js' %}"></script>
{% endblock content %}
