{% extends "app_base.html" %}

{% block title %}
  {% if project.name %}
    {{
    project.name }} - New Test Case
  {% else %}
    {{ testcase.project.name }} - {{
    testcase.tcname }}
  {% endif %}
{% endblock title %}
{% block content %}
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>
        {% if project.name %}
          <a href="{% url 'projects' %}">{{ project.name }}</a>
        {% else %}
          <a href="{% url 'projects' %}">{{ testcase.project.name }}</a>
        {% endif %}
      </li>
      <li>
        {% if project.name %}
          <a href="{% url 'list_testcase' project.id %}">Test Cases</a>
        {% else %}
          <a href="{% url 'list_testcase' testcase.project.id %}">Test Cases</a>
        {% endif %}
      </li>
      <li>
        {% if testcase %}
          <p class="pl-2">{{ testcase.tcname }}</p>
        {% else %}
          <p class="pl-2">New Test Case</p>
        {% endif %}
      </li>
    </ul>
  </nav>
  <form method="post"
        enctype="multipart/form-data"
        id="testcase_form"
        class="container">
    {% csrf_token %}
    <div class="pt-5"></div>
    <div class="columns">
      <div class="column is-4">
        <div class="field">
          <label class="label" for="id_project">Project name</label>
          <div class="control">
            <input name="project"
                   class="input"
                   id="id_project"
                   type="text"
                   value="{% if testcase.project.name %}{{ testcase.project.name }} {% else %} {{ project.name }} {% endif %}"
                   aria-label="readonly input example"
                   disabled
                   readonly />
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label" for="id_tcname">
            Test Case Name<span class="has-text-weight-light is-size-7">(limit to 50 characters)</span>
          </label>
          <div class="control">
            <input value="{{ testcase.tcname }}"
                   type="text"
                   name="tcname"
                   id="id_tcname"
                   class="input"
                   placeholder="e.g. TC_001 Single Sign On" />
          </div>
        </div>
        {% if form.tcname.errors %}<p class="help is-danger">{{ form.tcname.errors|striptags }}</p>{% endif %}
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label" for="id_keycolumns">
            Key Columns
            <span class="has-text-weight-light is-size-7">
              Provide list of ',' separated columns to uniquely identify a row in
              the dataset, e.g id,emp_id,dept_id. Default is 'All'
            </span>
          </label>
          <div class="control">
            <input type="text"
                   class="input"
                   id="id_keycolumns"
                   placeholder="e.g. 'emp_id,dept_id' or 'id'"
                   value="{{ testcase.keycolumns }}"
                   name="keycolumns"
                   aria-describedby="keyColsHelpBlock" />
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="field">
          <label class="label" for="id_sourcedb">Source Connection</label>
          <div class="select is-fullwidth">
            <select name="sourcedb" required="" id="id_sourcedb" class="select">
              {% for connection in db_connections %}    
                <option value="{{ connection.id }}"
                  {% if connection.id == testcase.sourcedb.id %}selected{% endif %}>{{ connection.name }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label" for="id_sourcesql">Source SQL</label>
          <textarea name="sourcesql" id="id_sourcesql" class="textarea" style="height: 100px">{{ testcase.sourcesql }}</textarea>
        </div>
        {% if form.sourcesql.errors %}<p class="help is-danger">{{ form.sourcesql.errors|striptags }}</p>{% endif %}
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="field">
          <label class="label" for="id_sourcedb">Target Connection</label>
          <div class="select is-fullwidth">
            <select name="targetdb" required="" id="id_targetdb" class="select">
              {% for connection in db_connections %}
                <option value="{{ connection.id }}"
                  {% if connection.id == testcase.targetdb.id %}selected{% endif %}>{{ connection.name }}
                </option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <label class="label" for="id_targetsql">Target SQL</label>
          <textarea required name="targetsql" id="id_targetsql" class="textarea" style="height: 100px">{{ testcase.targetsql }}</textarea>
        </div>
        {% if form.targetsql.errors %}<p class="help is-danger">{{ form.targetsql.errors|striptags }}</p>{% endif %}
      </div>
    </div>
    <div class="buttons is-centered">
      <button class="button is-primary" name="save">Save</button>
      {% if project.name %}
        <a href="{% url 'list_testcase' project.id %}"
           class="button is-light"
           name="cancel">Cancel</a>
      {% else %}
        <a href="{% url 'list_testcase' testcase.project.id %}"
           class="button is-light">Cancel</a>
      {% endif %}
    </div>
  </form>
{% endblock content %}
