{% extends "account/base.html" %}

{% load i18n %}
{% load allauth account socialaccount %}

{% block head_title %}
  {% translate "Password Reset" %}
{% endblock head_title %}
{% block inner %}
  <div class="column is-6 is-offset-3">
    <h3 class="title has-text-black">{% trans "Password Reset" %}</h3>
    <div class="box">
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <p class="has-text-left">
        {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
      </p>
      {% url 'account_reset_password' as reset_url %}
      <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        <div class="field pt-2">
          <div class="control">
            <input id="id_email"
                   name="email"
                   required
                   class="input is-normal"
                   type="email"
                   placeholder="Your Email address"
                   max-length="320" />
          </div>
        </div>
        <button class="button is-info is-normal is-centered" type="submit">{% trans "Reset My Password" %}</button>
      </form>
    </div>
  </div>
{% endblock inner %}
