<!-- Subfolders Section Start -->
<div id="subfolder-list-{{ folder.id }}">
  <ul>
    {% for subfolder in subfolders %}
      <li>
        <div class="field has-addons">
          <p class="control">
            <button class="button is-size-6 item"
                    hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
                    hx-delete="{% url 'edit_folder' project.id subfolder.id %}"
                    hx-target="#dialog">
              <span class="icon is-small" title="Delete">
                <i class="fas fa-trash has-text-danger"></i>
              </span>
            </button>
          </p>
          <p class="control">
            <button class="button is-size-6 item"
                    hx-get="{% url 'edit_folder' project.id subfolder.id %}"
                    hx-target="#dialog">
              <span class="icon is-small" title="Edit">
                <i class="fas fa-edit has-text-success"></i>
              </span>
            </button>
          </p>
          <p class="control">
            {% if subfolder.subfolder.count == 0 %}
              <button class="button is-size-6 item" disabled>
                <span class="icon is-small" title="No Subfolder">
                    <i class="fas fa-folder-closed"></i>
                  </span>
              </button>
            {% else %}
              <button class="button is-size-6 item"
                  hx-get="{% url 'folder_subfolders' project.id subfolder.id %}"
                  hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
                  hx-target="#subfolder-list-{{ subfolder.id }}"
                  hx-swap="innerHTML">
                <span class="icon is-small" title="Expand Folder">
                  <i class="fas fa-folder-tree"></i>
                </span>
              </button>
            {% endif %}
          </p>
          <p class="control w-100">
            <button class="button is-size-6 item"
                hx-get="{% url 'list_testcases' project.id 1 %}?folder={{ subfolder.id }}"
                hx-target="#test-case-list"
                hx-swap="innerHTML"
                onclick="setActive(event)">
              <span class="fas fa-folder pr-2" title="Get testCases"></span>
              {{ subfolder.name }}
            </button>
          </p>
        </div>
        <div id="subfolder-list-{{ subfolder.id }}"></div>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- Subfolder Section End -->
