<!-- Subfolders section -->
<div id="subfolder-list-{{ folder.id }}">
  <ul>
    {% for subfolder in subfolders %}
      <li>
        <div class="field has-addons">
          <p class="control">
            <button class="button is-size-6 item"
                    hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
                    hx-delete="{% url 'edit_folder' project.id subfolder.id %}"
                    hx-target="#dialog">
              <span class="icon is-small">
                <i class="fas fa-trash has-text-danger"></i>
              </span>
            </button>
          </p>
          <p class="control">
            <button class="button is-size-6 item"
                    hx-get="{% url 'edit_folder' project.id subfolder.id %}"
                    hx-target="#dialog">
              <span class="icon is-small">
                <i class="fas fa-edit has-text-success"></i>
              </span>
            </button>
          </p>
          <p class="control w-100">
            <button class="button is-size-6 item"
                hx-get="{% url 'folder_subfolders' project.id subfolder.id 1 %}"
                hx-target="#subfolder-list-{{ subfolder.id }}"
                hx-swap="innerHTML"
                onclick="setActive(event)">
              <span class="fas fa-folder pr-2"></span>
              {{ subfolder.name }}
            </button>
          </p>
        </div>
        <div id="subfolder-list-{{ subfolder.id }}"></div>
      </li>
    {% endfor %}
  </ul>
</div>

<!-- Display Test Cases in Main Content Area -->
  <div id="test-case-list" hx-swap-oob="true">
    {% include 'partials/testcase_list.html' %}
<!-- Pagination -->
{% if test_cases.has_other_pages %}
    <nav class="pagination is-small is-right">
        <ul class="pagination-list">
        {% if test_cases.has_previous %}
            <li>
            <a class="pagination-link"
                hx-get="{% url 'folder_subfolders' project.id folder.id test_cases.previous_page_number %}"
                hx-target="#test-case-list"
                hx-swap="outerhtml"><i class="fa-solid fa-angles-left"></i></a>
            </li>
        {% endif %}
        {% for i in page_range|default_if_none:test_cases.paginator.get_elided_page_range %}
            {% if test_cases.number == i %}
            <li>
                <a href="#" class="pagination-link is-current" aria-label="Goto page {{ i }}">{{ i }}</a>
            </li>
            {% else %}
            {% if i == test_cases.paginator.ELLIPSIS %}
                <a href="#" class="pagination-link" aria-label="Goto page {{ i }}">{{ i }}</a>
            {% else %}
                <li class="pagination-link">
                {% with pg_no=i %}
                    <a class="page-link"
                        hx-get="{% url 'folder_subfolders' project.id folder.id pg_no %}"
                        hx-target="#test-case-list"
                        hx-swap="outerhtml">{{ i }}</a>
                {% endwith %}
                </li>
            {% endif %}
            {% endif %}
        {% endfor %}
        {% if test_cases.has_next %}
            <li>
            <a class="pagination-link"
                hx-get="{% url 'folder_subfolders' project.id folder.id test_cases.next_page_number %}"
                hx-target="#test-case-list"
                hx-swap="outerhtml"><i class="fa-solid fa-angles-right"></i></a>
            </li>
        {% endif %}
        </ul>
    </nav>
{% endif %}
  <!-- end Pagination -->
  </div>
