<!-- lists down the executed test cases with the most recent execution result. -->
{% load testplan_extras %}

<p class="has-text-right has-text-warning is-italic">* Details are only for latest run</p>
<table class="table table-container is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th class="has-text-centered w-25">Test Case Name</th>
      <th class="has-text-left w-5">Status</th>
      <th class="has-text-left w-10">Executed By</th>
      <th class="has-text-left w-15">Execution Start</th>
      <th class="has-text-left w-15">Execution End</th>
      <th class="has-text-left w-30">Log</th>
    </tr>
  </thead>
  <tbody class="is-size-6">
    {% for item in most_recent_testcase_runs %}
      <tr class="{% tc_status_row_class item.most_recent_testcase_run.testcase_run_status.status_value %}">
        <td>
          <a title="Delete"
             data-bs-title="Delete Test Case"
             class="has-text-danger"
             hx-post="{% url 'delete_testrun_testcase' item.testrun_testcase.testcase.project.id item.testrun_testcase.testrun.id item.testrun_testcase.id %}"
             hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
            <i class="fa fa-trash fa-fw fa-xs" aria-hidden="true"></i>
          </a>
          <a title="Edit"
             href="{% url 'edit_testcase' item.testrun_testcase.testcase.project.id item.testrun_testcase.testcase.id %}">
            <i class="fa fa-pen-to-square fa-fw fa-xs"></i>
          </a>
          <a title="Execute"
             data-bs-title="Execute Test Case"
             class="has-text-success pl-1"
             hx-post="{% url 'execute_testcase' item.testrun_testcase.testcase.project.id item.testrun_testcase.testrun.id item.testrun_testcase.id %}"
             hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
            <i class="fa-solid fa-caret-right fa-xl" aria-hidden="true"></i>
          </a>
          <a class="has-text-info"
             title="History"
             href="{% url 'testrun_testcase_history_list' item.testrun_testcase.testcase.project.id item.testrun_testcase.testrun.id item.testrun_testcase.id %} ">
            <i class="fa-solid fa-clock-rotate-left fa-xs" aria-hidden="true"></i>
          </a>
          {{ item.testrun_testcase.testcase.tcname }}
        </td>
        {% if item.most_recent_testcase_run %}
          <td class="text-center">{{ item.most_recent_testcase_run.testcase_run_status.status_value }}</td>
          <td class="text-center">{{ item.most_recent_testcase_run.triggered_by }}</td>
          <td class="text-center">{{ item.most_recent_testcase_run.execution_start|date:"d-M-y H:m:s T" }}</td>
          <td class="text-center">{{ item.most_recent_testcase_run.execution_end|date:"d-M-y H:m:s T" }}</td>
          <td>{{ item.most_recent_testcase_run.comments|truncatewords:200 }}</td>
        {% else %}
          <td class="text-center">Not Run</td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td class="text-center"></td>
          <td></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
