<!-- Manage Project Template - project/manage_project.html -->
{% block inner %}
  <form hx-post="{% url 'manage_project' project.id %}"
        hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
        hx-target="#config_content">
    <!-- Form fields -->
    <div class="columns">
      <div class="column is-8">
        <div class="field">
          <label class="label" for="id_name">Project name</label>
          <div class="control">
            <input
              value="{{ project.name }}"
              type="text"
              name="name"
              id="id_name"
              class="input is-small"
              {%
              if
              not
              is_project_admin
              %}disabled{%
              endif
              %}
              required
              placeholder="Project Name"
              autocomplete="off"
              />
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label" for="id_project_code">Project Code</label>
            <div class="control">
              <input
                value="{{ project.project_code }}"
                type="text"
                name="project_code"
                id="id_project_code"
                class="input is-small"
                {%
                if
                not
                is_project_admin
                %}disabled{%
                endif
                %}
                required
                placeholder="Project Code"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label" for="id_description">Project Description</label>
              <textarea
          id="id_description"
          name="description"
          class="textarea is-small"
          {%
          if
          not
          is_project_admin
          %}readonly{%
          endif
          %}
          placeholder="e.g. Describe briefly about the project..."
        >
{{ project.description }}</textarea>
            </div>
            {% if form.description.errors %}<p class="help is-danger">{{ form.description.errors|striptags }}</p>{% endif %}
          </div>
        </div>
        <div class="buttons">
          {% if is_project_admin %}<button class="button is-primary" name="save">Save</button>{% endif %}
        </div>
        {% if is_project_admin %}
          {% include 'project/partials/project_delete.html' %}
        {% endif %}
      </form>
    {% endblock inner %}
