{% block content %}
  <table class="table smaller is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th></th>
        <th class="has-text-centered">Name</th>
        <th class="has-text-centered">Type</th>
        <th class="has-text-centered">Host</th>
        <th class="has-text-centered">DB Name</th>
        <th class="has-text-centered">UserID</th>
      </tr>
    </thead>
    <tbody>
      {% for conn in connections %}
        <tr>
          <td>
            <a title="Edit"
               hx-get="{% url 'edit_connection' project.id conn.pk %}"
               hx-target="#dialog">
              <i class="fa fa-pen-to-square fa-fw" aria-hidden="true"></i>
            </a>
            <a class="has-text-danger"
               title="Delete"
               hx-get="{% url 'delete_connection' project.id conn.pk %}"
               hx-target="#dialog">
              <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
            </a>
          </td>
          <td>{{ conn.name }}</td>
          <td>{{ conn.dbtype }}</td>
          <td>{{ conn.hostname }}</td>
          <td>{{ conn.dbname }}</td>
          <td>{{ conn.username }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- Pagination -->
  {% if connections.has_other_pages %}
    <nav aria-label="Page navigation connections" class="pagination is-small is-right">
      <ul class="pagination-list">
        {% if connections.has_previous %}
          <li>
            <a class="pagination-link"
               hx-get="{% url 'list_connection' project.id connections.previous_page_number %}"
               hx-target="#connection_items"
               hx-swap="outerhtml"><i class="fa-solid fa-angles-left"></i></a>
          </li>
        {% endif %}
        {% for i in page_range|default_if_none:connections.paginator.get_elided_page_range %}
          {% if connections.number == i %}
            <li class="active page-item">
              <span class="pagination-link is-current">{{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            {% if i == connections.paginator.ELLIPSIS %}
              <li class="page-item">
                <span class="pagination-link">{{ i }}</span>
              </li>
            {% else %}
              <li class="page-item">
                {% with pg_no=i %}
                  <a class="pagination-link"
                     hx-get="{% url 'list_connection' project.id pg_no %}"
                     hx-target="#connection_items"
                     hx-swap="outerhtml">{{ i }}</a>
                {% endwith %}
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if connections.has_next %}
          <li>
            <a class="pagination-link"
               hx-get="{% url 'list_connection' project.id connections.next_page_number %}"
               hx-target="#connection_items"
               hx-swap="outerhtml"><i class="fa-solid fa-angles-right"></i></a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
  <!-- end Pagination -->
{% endblock content %}
