{% block content %}
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <h3 class="is-size-5">Members</h3>
      </div>
      <div class="column">
        {% if is_project_admin %}
          <form hx-post="{% url 'project_members' project.id %}?action=add"
                method="post"
                hx-target="#member-table"
                hx-swap="beforeend">
            {% csrf_token %}
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input class="input is-small"
                       id="id_email"
                       name="email"
                       type="email"
                       placeholder="Add Email address" />
              </p>
              <p class="control">
                <button class="button is-info is-small">Add Member</button>
              </p>
            </div>
          </form>
        {% endif %}
      </div>
    </div>
    <div class="container pt-5">
      <table class="table is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th class="has-text-centered">Full Name</th>
            <th class="has-text-centered">Email</th>
            <th class="has-text-centered">Joined On</th>
            <th class="has-text-centered">Role</th>
            {% if is_project_admin %}<th class="has-text-centered">Action</th>{% endif %}
          </tr>
        </thead>
        <tbody id="member-table">
          {% for member in members %}
            <tr class="small" id="member-{{ member.user.id }}">
              <td class="is-vcentered has-text-centered">{{ member.user.name }}</td>
              <td class="is-vcentered has-text-centered">{{ member.user.email }}</td>
              <td class="is-vcentered has-text-centered">{{ member.date_joined|date:"d-M-y" }}</td>
              <td class="is-vcentered has-text-centered">
                <div class="select">
                  <select class="is-small">
                    <option value="admin" {% if member.role == 'admin' %}selected{% endif %}>Admin</option>
                    <option value="member" {% if member.role == 'member' %}selected{% endif %}>Member</option>
                  </select>
                </div>
              </td>
              {% if is_project_admin %}
                <td class="has-text-danger is-vcentered has-text-centered">
                  <button class="has-text-danger"
                          hx-post="/project/{{ project.id }}/project_members?action=remove&user_id={{ member.id }}"
                          hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
                          hx-target="#member-{{ member.id }}"
                          hx-confirm="Are you sure about removing your member: '{{ member.email }}?'"
                          hx-swap="outerHTML:remove">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
