{% load static i18n %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        Data Match
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="Web App for testers to test data migration projects!" />
    <meta name="author" content="Hiresh Dandekar" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <!-- Latest compiled and minified Bootstrap CSS -->
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
      <link defer href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
      <!-- This file stores project-specific CSS -->
      <link href="{% static 'css/project.css' %}" rel="stylesheet" />
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap JS -->
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/htmx.min.js' %}"></script>
      <script src="{% static 'js/project.js' %}"></script>
    {% endblock javascript %}
  </head>
  <body>
    <div class="mb-1">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'home' %}">Data Match</a>
          <button class="navbar-toggler navbar-toggler-right"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% if request.user.is_authenticated %}
              <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link mx-2 dropdown-toggle"
                     href="#"
                     id="navbarCreateMenuLink"
                     role="button"
                     data-bs-toggle="dropdown"
                     aria-expanded="false">Go To</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarCreateMenuLink">
                    <li>
                      <a class="dropdown-item" href="{% url 'settings:connections' %}">{% translate "Connection" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'projects' %}">Projects</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Test Set</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link mx-2 dropdown-toggle"
                     href="#"
                     id="navbarAccountMenuLink"
                     role="button"
                     data-bs-toggle="dropdown"
                     aria-expanded="false">Account
                     {% if request.user.avatar == '' %}
                       <i class="fa-solid fa-user"></i>
                     {% else %} 
                       <img alt="profile" class="img-avatar me-1 rounded-circle" src="{{ request.user.avatar.url }}" />
                     {% endif %}
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarAccountMenuLink">
                    <li>
                      <a class="dropdown-item" href="{% url 'users:detail' request.user.pk %}">{% translate "My Profile" %}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Contact us</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'help' %}">Help</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                    </li>
                  </ul>
                </li>
              </ul>
            {% else %}
              <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">Home <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'help' %}">Help</a>
                </li>
                {% if ACCOUNT_ALLOW_REGISTRATION %}
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                  </li>
                {% endif %}
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #}
                  <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                </li>
              </ul>
            {% endif %}
          </div>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="toast-container end-0">
        <div id="toast"
             class="toast text-white border-0"
             role="alert"
             aria-live="assertive"
             aria-atomic="true">
          <div class="d-flex">
            <div id="toast-body" class="toast-body"></div>
            <button type="button"
                    class="btn-close btn-close-white me-2 m-auto"
                    data-bs-dismiss="toast"
                    aria-label="Close"></button>
          </div>
        </div>
      </div>
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %} small">
            {{ message }}
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      <div class="container-fluid">
        <div class="row px-3 pt-2 pb-3">
          <div class="col-lg-12">
            {% block content %}
            {% endblock content %}
          </div>
        </div>
      </div>
    </div>
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      });

      $(function() {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>
      {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
