{% block content %}
  <table class="table table-striped table-bordered table-sm small table-fit"
         aria-label="Connection List">
    <thead class="thead-dark small">
      <tr>
        {% comment %} <th scope="col-1">ID</th> {% endcomment %}
        <th scope="col-2" class="text-center">Connection Name</th>
        <th scope="col-1" class="text-center">DB Type</th>
        <th scope="col-2" class="text-center">Host Name</th>
        <th scope="col-2" class="text-center">Database Name</th>
        <th scope="col-1" class="text-center">Username</th>
        <th scope="col-1" class="text-center">Port No</th>
        <th scope="col-2" class="text-center">Created By</th>
      </tr>
    </thead>
    <tbody class="small table-group-divider align-middle">
      {% for conn in connections %}
        <tr>
          {% comment %} <th scope="row">{{conn.pk}}</th> {% endcomment %}
          <td class="col-2">
            <a class="px-1 link-undecorate"
               data-bs-title="Edit Connection"
               data-bs-toggle="tooltip"
               data-bs-placement="left"
               hx-get="{% url 'settings:edit_connection' conn.pk %}"
               hx-target="#dialog">
              <i class="fa fa-pen-to-square fa-fw fa-xs" aria-hidden="true"></i>
            </a>
            <a class="px-1 confirm-delete link-undecorate"
               data-bs-title="Delete Connection"
               data-bs-toggle="tooltip"
               data-bs-placement="right"
               hx-get="{% url 'settings:delete_connection' conn.pk %}"
               hx-target="#dialog">
              <i class="fa fa-trash fa-fw fa-xs text-danger" aria-hidden="true"></i></a>
            {{ conn.name }}
          </td>
          <td class="col-1">{{ conn.dbtype }}</td>
          <td class="col-2">{{ conn.hostname }}</td>
          <td class="col-2">{{ conn.dbname }}</td>
          <td class="col-1">{{ conn.username }}</td>
          {% comment %}
          <td class="col-xs-1">{{conn.pk }}</td>
          {% endcomment %}
          <td class="col-1">{{ conn.portno }}</td>
          <td class="col-2"
              data-toggle="tooltip"
              title="{{ conn.created_by.name|default:conn.created_by.email }}">
            {{ conn.created_by.name|default:conn.created_by|truncatechars:20 }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- Pagination -->
  {% if connections.has_other_pages %}
    <nav aria-label="Page navigation connections">
      <ul class="pagination pagination-sm justify-content-end">
        {% if connections.has_previous %}
          <li>
            <a class="page-link"
               hx-get="{% url 'settings:list_connection' connections.previous_page_number %}"
               hx-target="#connection_items"
               hx-swap="outerhtml"><i class="fa-solid fa-angles-left"></i></a>
          </li>
        {% endif %}
        {% for i in page_range|default_if_none:connections.paginator.get_elided_page_range %}
          {% if connections.number == i %}
            <li class="active page-item">
              <span class="page-link">{{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            {% if i == connections.paginator.ELLIPSIS %}
              <li class="page-item">
                <span class="page-link">{{ i }}</span>
              </li>
            {% else %}
              <li class="page-item">
                {% with pg_no=i %}
                  <a class="page-link"
                     hx-get="{% url 'settings:list_connection' pg_no %}"
                     hx-target="#connection_items"
                     hx-swap="outerhtml">{{ i }}</a>
                {% endwith %}
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if connections.has_next %}
          <li>
            <a class="page-link"
               hx-get="{% url 'settings:list_connection' connections.next_page_number %}"
               hx-target="#connection_items"
               hx-swap="outerhtml"><i class="fa-solid fa-angles-right"></i></a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
  <!-- end Pagination -->
{% endblock content %}
