{% block content %}
  <table class="table table-container is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th></th>
        <th>Connection Name</th>
        <th>Database Type</th>
        <th>Host Name</th>
        <th>Database Name</th>
        <th>UserID</th>
        <th>Port No</th>
        <th>Created By</th>
      </tr>
      <tbody>
        {% for conn in connections %}
          <tr>
            <td>
              <a title="Edit"
                 hx-get="{% url 'settings:edit_connection' conn.pk %}"
                 hx-target="#dialog">
                <i class="fa fa-pen-to-square fa-fw" aria-hidden="true"></i>
              </a>
              <a class="has-text-danger"
                 title="Delete"
                 hx-get="{% url 'settings:delete_connection' conn.pk %}"
                 hx-target="#dialog">
                <i class="fa fa-trash fa-fw" aria-hidden="true"></i>
              </a>
            </td>
            <td>{{ conn.name }}</td>
            <td>{{ conn.dbtype }}</td>
            <td>{{ conn.hostname }}</td>
            <td>{{ conn.dbname }}</td>
            <td>{{ conn.username }}</td>
            <td>{{ conn.portno }}</td>
            <td data-toggle="tooltip"
                title="{{ conn.created_by.name|default:conn.created_by.email }}">
              {{ conn.created_by.name|default:conn.created_by|truncatechars:20 }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </thead>
  </table>
  <!-- Pagination -->
  {% if connections.has_other_pages %}
    <nav aria-label="Page navigation connections">
      <ul class="pagination pagination-sm justify-content-end">
        {% if connections.has_previous %}
          <li>
            <a class="page-link"
               hx-get="{% url 'settings:list_connection' connections.previous_page_number %}"
               hx-target="#connection_items"
               hx-swap="outerhtml"><i class="fa-solid fa-angles-left"></i></a>
          </li>
        {% endif %}
        {% for i in page_range|default_if_none:connections.paginator.get_elided_page_range %}
          {% if connections.number == i %}
            <li class="active page-item">
              <span class="page-link">{{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
          {% else %}
            {% if i == connections.paginator.ELLIPSIS %}
              <li class="page-item">
                <span class="page-link">{{ i }}</span>
              </li>
            {% else %}
              <li class="page-item">
                {% with pg_no=i %}
                  <a class="page-link"
                     hx-get="{% url 'settings:list_connection' pg_no %}"
                     hx-target="#connection_items"
                     hx-swap="outerhtml">{{ i }}</a>
                {% endwith %}
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if connections.has_next %}
          <li>
            <a class="page-link"
               hx-get="{% url 'settings:list_connection' connections.next_page_number %}"
               hx-target="#connection_items"
               hx-swap="outerhtml"><i class="fa-solid fa-angles-right"></i></a>
          </li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}
  <!-- end Pagination -->
{% endblock content %}
