{% block content %}
  <div class="modal-background cancel"></div>
  <div class="modal-content">
    <div class="box content">
      <h2 class="is-2">Add New connection</h2>
      <form hx-post="{{ request.path }}"
            hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>
        <div class="box">
        </br />
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label" for="id_dbname">Name</label>
              <div class="control">
                <input value="{{ connection.name }}"
                       type="text"
                       name="name"
                       id="id_name"
                       class="input"
                       required
                       placeholder="Connection Name" />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label for="id_dbtype" class="label">Database Type</label>
              <div class="select is-fullwidth">
                <select name="dbtype"
                        class="select"
                        id="id_dbtype"
                        required >
                  <option value="{{ connection.dbtype.id }}" selected>{{ connection.dbtype.dbname }}</option>
                  {% for item in dbtypes %}<option value="{{ item.id }}">{{ item.dbname }}</option>{% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label" for="id_hostname">Hostname</label>
              <div class="control">
                <input value="{{ connection.hostname }}"
                       type="text"
                       name="hostname"
                       id="id_hostname"
                       class="input"
                       required
                       placeholder="Hostname/Server Name" />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label for="id_dbname" class="label">Database Name</label>
              <div class="control">
                <input value="{{ connection.dbname }}"
                       type="text"
                       name="dbname"
                       id="id_dbname"
                       class="input"
                       required
                       placeholder="Database Name" />
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label" for="id_username">Database username</label>
              <div class="control">
                <input value="{{ connection.username }}"
                       type="text"
                       name="username"
                       id="id_username"
                       class="input"
                       required
                       placeholder="Username" />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label for="id_password" class="label">Database Password</label>
              <div class="control">
                <input value="{{ connection.password }}"
                       type="text"
                       name="password"
                       id="id_password"
                       class="input"
                       required
                       placeholder="Password" />
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label" for="id_portno">Port No.</label>
              <div class="control">
                <input value="{{ connection.portno }}"
                       type="text"
                       name="portno"
                       id="id_portno"
                       class="input"
                       placeholder="Port No." />
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label for="id_schema_name" class="label">Database Schema</label>
              <div class="control">
                <input value="{{ connection.schema_name }}"
                       type="text"
                       name="schema_name"
                       id="id_schema_name"
                       class="input"
                       placeholder="Schema Name" />
              </div>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button class="button is-primary" name="save">Save</button>
          <button type="submit"
                  name="test"
                  class="button is-info"
                  hx-post="{% url 'settings:create_connection' %}"
                  hx-swap="outerhtml"
                  hx-trigger="click"
                  hx-target="#connection_result">Test Connection</button>
        </div>
      </div>
      <div id="connection_result"></div>
    </form>
  </div>
</div>
{% endblock content %}
{% block inline_javascript %}

{% endblock inline_javascript %}
