{% extends 'base.html' %}
{% block title %}Edit Connection{% endblock  %}

{% block  content %}
<div class="container">
<h3>Edit Connection</h3>


    <form method="POST" class="post-form">
        <fieldset>
            {% for field in form %}
                <div class="form-row">
                    <label class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
                    <div class="col-sm-3">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
    {% csrf_token %}
            <button type="submit" class="btn btn-primary">Save</button>
        </fieldset>
    </form>
{% endblock   %}
</div>