{% block content %}
  {% for conn in conn_list %}
    <tr>
      {% comment %} <th scope="row">{{conn.pk}}</th> {% endcomment %}
      <td>
        <a class="px-1"
           data-bs-title="Edit Connection"
           data-bs-toggle="tooltip"
           data-bs-placement="left"
           hx-get="{% url 'connection:edit' conn.pk %}"
           hx-target="#dialog">
          <i class="fa fa-pen-to-square fa-fw fa-xs" aria-hidden="true"></i></a>
        <a class="px-1 confirm-delete"
           data-bs-title="Delete Connection"
           data-bs-toggle="tooltip"
           data-bs-placement="right"
           hx-get="{% url 'connection:delete' conn.pk %}"
           hx-target="#dialog">
          <i class="fa fa-trash fa-fw fa-xs text-danger" aria-hidden="true"></i></a>
        {{ conn.name }}
      </td>
      <td>{{ conn.dbtype }}</td>
      <td>{{ conn.hostname }}</td>
      <td>{{ conn.dbname }}</td>
      <td>{{ conn.username }}</td>
      {% comment %} <td>{{conn.pk }}</td> {% endcomment %}
    </tr>
  {% endfor %}
{% endblock content %}
